body{
	font-family: 'Lato', sans-serif;
    font-size:14px;
    color:#ffffff;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
}
.navbar>.container .navbar-brand{
	padding:0;
	margin:0;
	height:53px;
}
.navbar-header{
	margin:12px 0 15px 0;
}
.navbar-default{
	background-color: #ffffff;
	border:none;
	margin:0;
}
.navbar-nav>li:last-child a{
	padding:0;
}
.navbar-default .navbar-nav>li>a{
	font-size: 16px;
	color:#000000;
	padding:0 15px;
	line-height: 80px;
	font-weight: 700;
}
.navbar-collapse{
	padding:0;
}
.navbar-default .navbar-nav>li>a:hover{
	color:#ffffff;
	background-color:#673091;
}
.navbar-default .navbar-nav>li>a:focus , .navbar-default .navbar-nav>.open>a:focus{
	color:#ffffff;
	background-color: #5d466e;
}
.container>.navbar-collapse, .container>.navbar-header{
  margin-left:0;
  margin-right: 0;
}
.navbar-form .btn{
	background-color: #5d466e;
	margin:0;
	padding:40px 50px;
	border:none;
	border-radius: 0;
	position: relative;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border:none;
}
.navbar-right{
	margin:0;
}
.navbar-form{
	margin:0;
	padding:0;
}
.setImage{
	position: absolute;
	background:url("../images/sprite.png");
	background-position: 45px -3px;
	height: 24px;
	width: 24px;
	left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}
.caret{
    border-right: 6px solid transparent;
    border-top: 6px dashed;
    border-left: 6px solid transparent;
}
.nav>li,.navbar{
	position: static;
}
.outer{
	position:relative;
	margin-bottom:112px;
}
.dropdown-menu{
	width: 100%;
	float:none;
	background-color: #5d466e;
	border:none;
	border-radius:none;
	margin:0;
	padding:36px 0 48px 0;
}
.tables{
	list-style: none;
	float:left;
	width:170px;
}
.tables li{
	margin-bottom:16px;
}
.tables > li >a{
	font-size : 18px;
	color:#ffffff;
	text-decoration: none;
}
.firstTable{
	margin-left:230px;
}
.navbar-brand>img{
  max-width: 100%;
  max-height: 100%;
}


.leftWrapper > p{
    margin:0 0 20px 0;
    padding-bottom: 12px;
    font-size:25px;
    color:#673091;
    border-bottom: 2px dashed #b2b2b2;
}


ul li{
	list-style: none;
}
ul li a{
	text-decoration: none;
}
.leftWrapper{
    margin-left:15px;
}
.alphabet{
    margin-bottom: 30px;
    padding: 0;
}
.alphabet li{
    float:left;
    padding-left:7px;
}
.alphabet li a{
    font-weight: 700;
    font-size: 18px;
    color:#363636;
}
.alphabet li a:hover ,.alphabet li a:focus{
    color:#ee2375;
    text-decoration: none;
}



.scrollbar {
    
    height: 481px;
    width: 100%;
    background: #fff;
    overflow-y: scroll;   
}
.force-overflow {
    height: inherit;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 6px;
  background-color: #bfbfbf; }

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #838383; }

.scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-danger::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-danger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3547; }

.scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-warning::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #FF8800; }

.scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00C851; }

.scrollbar-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-info::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #33b5e5; }

.scrollbar-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-default::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2BBBAD; }

.scrollbar-secondary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-secondary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-secondary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #aa66cc; 
}

.navbar-nav>li:first-child{
  display:none;
}
                


.contentWrapper{
    background-color: #f6f6f6;
    padding: 30px 0 0 20px; 
}
.contentWrapper li h3{
    font-weight: 700;
    font-size: 20px;
    color:#ee2375;
    margin-bottom: 12px;
}
.contentWrapper li h4{
    font-size: 24px;
    color:#363636;
    margin-bottom: 12px;
}
.contentWrapper li p{
    
    font-size: 14px;
    color:#494949;
    margin-bottom: 12px;
}
.contentWrapper li{
    padding-bottom:40px;
}            
.wrapper{
  margin-bottom: 115px;
}   

/*Try new*/

.nav-tabs{
	border:none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border:none;
	color:#ee2375;
}


.nav>li>a{
	padding:0;
	color:#000000;
	font-weight:700;
	font-size:14px;
}

.leftWrapper .nav>li{
	padding-left: 7px;
}
.nav-tabs>li>a:hover{
	border:none;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: #ffffff;
}
.nav-tabs>li>a{
	margin-right:0;
	border:none;
	border-radius:none;
}
.nav-tabs{
	margin-bottom: 32px;
}
/* Trying done*/

/*rightWrapper start*/

.rightWrapper{
  text-align:center;
  height: 609px;
  display:table;

}

.rightWrapper > a{
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  background:#f6f6f6;
}
.rightWrapper a img{
  max-width:100%;
} 
.searchOnMap{
  text-align:center;
  margin-bottom:10px;
} 
.searchOnMap > p {
    font-size:20px;
    color:#673091;
    margin-bottom:20px;
}

/*rightWrapper ends*/

/*footer Starts*/
.footer{
    margin-bottom: 30px;
}
.leftBar li{
    padding-top: 8px;
    float:left;
} 
.leftBar li a{
    color:#000000;
    font-size: 16px;
}

.footer p{
    padding: 8px 0 0 0;
    text-align: center;
}
.footer span, .footer p{  
    color:#000000;
    padding-top:8px;
    font-size:16px;
}
.clearFix{
    clear:both;
    width: 0;
    height: 0;
    padding:0;
}
.footerLeftBar{
    float:left;
    width:385px;
}
.footerLeftBar li{
    float:left;
    margin-left: 51px;    
}
.footerLeftBar li.clearFix{
    float:none;
    padding: 0;
}


.footerRightBar{
    float:right;
    width:300px;
}
.footerRightBar p{
    float:left;
    padding: 8px 15px 8px 0;
    font-size: 16px;
    color:#000000;
    margin:0;
}
.leftBar {
    padding: 0;
}
.socialIcons{
    float:left;
    padding:0;
}

.socialIcons li {
    float: left;
    padding-right: 20px;
}
.socialIcons li.clearFix{
    float:none;
    padding: 0;
}
.socialIcons li a{
    background: url("../images/sprite.png");
    height: 34px;
    width: 34px;
    display: block;
}

.socialIcons li.facebookIcon a{
    background-position: 45px -54px; 
}
.socialIcons li.twitterIcon a{
    background-position: 45px -122px;
}
.socialIcons li.linkedInIcon a{
    background-position: 45px -178px
}
.socialIcons li.instaIcon a{
    background-position: 45px -232px; 
}

.footer > p , .footer > span {
    float:left;
}


.footerRightBar{
    margin-right:30px;
}
.footerLeftBar ul li:last-child{
    margin-right: 0;
  }
  .footerTextWrapper{
    float:left;
    width:425px;
  }
/*footer ends*/


/*for ipad landscapeView*/
@media only screen 
and (max-device-width: 1199px)
{
    
    .footerLeftBar li{
      margin-left:30px;
    }
    .footerLeftBar{
      width: 335px;
    } 
    .footerRightBar{
      width: 260px;
    } 
    .socialIcons li{
      padding-right: 10px;
    }
    .footerTextWrapper{
      width: 345px;
    }
    .footerRightBar{
      margin-right:0;
    }
    
    .rightWrapper{
      height: 629px;
      display:table;
    }
}

@media only screen 
and (max-device-width: 991px)
{
  .navbar-default .navbar-nav>li>a{
    font-size: 14px;
    line-height: 66px;
    padding:0 10px;
  }
  .navbar-form .btn{
    padding: 33px 40px;
  }
  .navbar>.container .navbar-brand{
    height:50px;
  }
  .container>.navbar-header
  {
    margin:6px 0 0 0;
  }
  .firstTable{
    margin-left:0;
  }
  /*footer Starts*/
      .footerLeftBar{
        float:none;
        text-align: center;
        width: inherit;
        padding-bottom:52px;
    }
    .footerRightBar{
        float:none;
        padding-bottom: 50px;
    }
    .footerRightBar p{
        display: none;
    }
    .footer > p{
        float:none;
        display:inline;
        padding:0;
        text-align: center;
        font-size: 16px;
    }
    .footer span{
        float:none;
        padding:0;
        font-size:16px;
        display: block;
    }
    .footer{
        text-align:center;
    }
    .leftBar{
        padding:0;
    }
    
    .leftBar li a{
        font-size: 16px;
    }
    .footerLeftBar, .footerRightBar{
        display: table;
        margin: 0 auto;
        width: 100%;
    }
    .footerLeftBar ul li:first-child{
        margin-left: 0;
    }
    .footerLeftBar li{
      margin-right: 0;
      margin-left: 0;
      
    }

    .footerTextWrapper{
      width: 100%;
    }
    .socialIcons{
      float:none;
      width:100%;
      text-align: center;
    }
    .socialIcons li{
      float:none;
      display:inline-block;

    }
    .leftBar li{
      float:none;
      display: inline-block;
      padding-left:30px;
    }

}

@media only screen 
and (max-device-width: 767px)
{
  .firstTable{
    margin-top:20px;
  }
  .container>.navbar-header{
    margin:16px 0 15px 0;
  }
  .navbar-default .navbar-toggle{
    border:none;
  }
  .navbar-toggle{
    margin:7px 0 0 0;
    padding:0;
  }
  .navbar-form .btn{
    padding:0;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: #ffffff;
  }
  .navbar-default .navbar-toggle .icon-bar{
    background-color: #5d466e;
  }
  .navbar>.container .navbar-brand{
    height: 24px;
  }
  .navbar-toggle .icon-bar{
    width: 25px;
  }
  .navbar-toggle .icon-bar+.icon-bar{
    margin-top:5px;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    background-color: #5d466e;
  }
  .navbar-default .navbar-nav>li>a{
    color:#ffffff;
  }
  .navbar-nav>li:first-child{
    display:block;
  }
  .navbar-nav>li{
    float:none;
  }
  .tables{
    float:none;
  }
  .dropdown-menu{
    padding:0;
  }
  .form-control{
    font-size:15px;
    color:#838282;
    border:none;
    border-radius:0;
    box-shadow:none;
  }
  .navbar-form .form-group{
    border:none;
    width:90%;
    margin:0 auto;
    position: relative;

  }
  .navbar-form{
    box-shadow: none;
  }
  .navbar-form .btn{
    position:static;
  }
  .navbar-default .navbar-nav>li>a{
    line-height: 100%;
  }
  .navbar-default .navbar-nav>li{
    margin-bottom: 30px;
  }
  .navbar-default .navbar-nav>li:first-child>a{
    padding-top:15px;
  }

  .setSecondImage{
    background:url(../images/sprites.png);
    width:21px;
    height: 20px;
    position: absolute;
    right:0;
    top:0;
    background-position: 0 0;
    transform: translate(50%,50%);
    margin-right: 20px;

  }
  .form-control{
    padding-right:0;
  }
  
.searchPlace{
  float:left;
  width:50%;
  background-color:#e1e1e1; 
  text-align: center;
  
}
.forMobileView li{
  color:#a7a6a6;
  display:block;
  line-height: 36px;
  font-size:15px;
}


.forMobileView li:hover , li:focus{
  background-color:#ee2375;
  text-decoration:none;
  color:#ffffff;
}
.list{
  float:left;
  width:50%;
  background-color:#e1e1e1;
  text-align: center;
  
}
.outer{
  margin-bottom:55px;
}
.rightWrapper{
  background-color: white;
  height:inherit;
}
.searchForm input[type=text] {
    width: 100%;
    font-size: 15px;
    line-height: 50px;
    background-color: #f6f6f6;
    color: #838282;
    border:none;
    text-overflow: ellipsis;
    padding: 0 10px;
  
}

.myForm input[type=text] {
    width: 100%;
    font-size: 16px;
    background-color: 838282;
    border: 1px solid gray;
    text-overflow: ellipsis;
    padding:8px;
    border : none;
    box-shadow: none;

}

.rightWrapper{
  text-align:center;
}

.rightWrapper > a{
  display:inline-block;
}
.rightWrapper a img{
  display:block;
  max-width:100%;
} 
.searchOnMap{
  text-align:center;
  margin-bottom:10px;
} 
.searchOnMap > p {
    font-size:20px;
    color:#673091;
    margin-bottom:20px;
}  
.wrapper{
  margin-bottom:50px;
}
.footerLeftBar li{
        float : none;
        margin-right: 0;
        margin-bottom:23px;
    }
    .footerLeftBar{
      margin-bottom:15px;
      padding-bottom: 0;
    }
    .socialIcons li a{
      height:45px;
      width: 45px;
    }
    .socialIcons li.facebookIcon a{
    background-position: 45px -349px; 
    }
    .socialIcons li.twitterIcon a{
        background-position: 45px -493px;
    }
    .socialIcons li.linkedInIcon a{
        background-position: 45px -419px
    }
    .socialIcons li.instaIcon a{
        background-position: 45px -283px; 
    }
    .footerRightBar ul{
      margin:0;
    }
    .footerRightBar{
      margin-bottom:38px;
      padding:0;
    }
    .leftWrapper{
      margin-bottom:10px;
    }
    .leftWrapper > p{
    font-size: 20px;
    border:none;
    text-align: center;
    } 
    .leftWrapper .nav>li {
    padding-left: 15px;
  }
  .footer > p{
    margin-bottom: 7px;
  }
  .alignCenter{
    width: 100%;
    padding: 0 25px;
  }
  .leftBar li{
      display:block;
      
      padding:0;
    }
    ul.forMobileView {
      padding: 0 25px 0 25px;
      list-style: none;
      width: 100%;
      margin-bottom: 50px;
      
    }
    ul.forMobileView  li{
      background: #e1e1e1;
      color: #a7a6a6;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
    }

    ul.forMobileView  li.current{
      background: #ee2375;
      color: #ffffff;
    }

    .tab-content{
      display: none;
    }

    .tab-content.current{
      display: inherit;
    }
    .leftWrapper .tab-content{
      display:block;
    }
}